:root{
    /* variaveis */
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base*/

body{
  background: var(--preto);
  font-family: 'Arial', Times, serif;
  color: white;
}

.logoImg{
    border-radius: 100px;
    width: 12%;
}

.logo{
    display: flex;
    align-items: center;
}


header .container{
    display: flex; /* Por padrao dispoe todo o conteudo em linha*/
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
    font-family: Roboto;
}

header nav a{
    text-decoration: none;
     color: #AAA;
     margin-right: 10px;;
}

header nav a:hover{
    color: #fff
}

/* capa principal */

.capa-principal{
    font-size: 16px;
    background: linear-gradient(rgba(212, 195, 195, 0.5), rgba(223, 207, 207, 0.5)), url('../img/World-Blood-Donor-Day.jpg');

    height: 550px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.carrosel-donor{
    margin-top: 2px;

}

.owl-carousel{
background-color: #CBDBDC;
}

.title-topBD{
    color: #CBDBDC;
    text-align: center;
    font-family: Roboto;
}

